* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2c2c2c;
}



/* multiple */

html {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: linear-gradient(to right, #2f2f2f, #323232);
    color:#eaeaea
}

time {
    font-size: 1em
}

h1, h2, h3 {
    margin: .5em 0 .5em 0;
}

p, h1, h2, h3 {
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold ;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    margin-bottom: 1.4em;
    line-height: 1.6;
}

    .journal-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #1f1f1f;
    color: #e0e0e0;
    margin: 0 auto;
}

.nav-left,
.nav-right {
    flex: 1;
}

.nav-center {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.journal-icon {
    width: 48px;
    height: auto;
}

.nav-right ul {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

ul li {
    margin-left: 1.5em;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.nav-link:hover {
    background-color: grey;
    color: #ffffff;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    padding: 4px;
    border: none;
    color:white;
    background-color: #2f2f2f;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* index */

header, .project-container {
    margin-bottom: 3rem;
}

.project-img {

    width: 100%;
    height: auto;
}

.intro-container {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1em;
}

.riley {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.intro h1 {
    margin-bottom: 1.5rem;
}

.write-up{
    padding: 1rem 4rem;
}

.project-header {
    display: inline-block;
    font-weight: bold;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 3rem;
    align-items: stretch;
    text-align: center;

}

.header-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.nft-container,
.splash-container,
.chrome-container,
.number-container,
.profile-container,
.scoreboard-container {
    width: 90%;
    max-width: 300px;
    min-height: 300px;
    padding: 1em;
    background-color: #4a4a4a;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-link {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.btn-link:hover {
    cursor: pointer;
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: black;
    color: white;
}

    

     .hero-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
     } 
    
    .anime-boy {
        width: 100%;
        height: auto;
        object-fit: cover;
     }

    .hero {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
        overflow: hidden;
    } 

    .hero h1,
    .hero p,
    time {
        color: white;
    }

    .hero h1{
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .journey-header{
        padding: 1rem; ;
    }

    .journey-header time{
        color: #2c2c2c;
    }

@media (max-width: 1100px) {
    .nav-left{
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    h2 { 
        margin: .5em 0 .5em 0;
    }

    .journal-title {
        
            max-width: 180px;
            text-align: center;
            margin: 0 auto;
        
    }

    .nav-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
    }

    ul li {
        margin: 0 auto;
        list-style: none;
    }
    
    ul {
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .project-img {
        width: 100%
    }

    .intro-container img {
        max-width:100%;
        height: auto;
    }

    .hero {
        padding: 0 1.5rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p,
    time {
        font-size: 0.8rem;
    }
}

@media (max-width: 440px) {
    .hero h1 {
        font-size: 1.4rem;
    }

    .hero p,
    time {
        font-size: 0.7rem;
    }

}

@media (max-width: 385px) {
    .hero h1 {
        font-size: 1.3rem;
    }

    .hero p,
    time {
        font-size: 0.6rem;
    }

}

