* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #2c2c2c;
}

html {
    font-family: Inter, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 0;
    background: linear-gradient(to right, #f0f0f0, #e4e4e4)
}

h1, h2, h3 {
    margin: .5em 0 .5em 0;
}

p, h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold ;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #f5f5f5;
}

ul li {
    margin-left: 1em;
    list-style: none;
}

ul {
    display: flex;
    flex-direction: row;
}

.nav-link {
    text-decoration: none;
}

li:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

header, .write-up, .project-container {
    margin-bottom: 3rem;
}

.project-img {

    width: 100%;
    height: auto;
}

.intro-container {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1em;
}

.riley {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.intro h1 {
    margin-bottom: 1.5rem;
}

.write-up{
    padding: 1rem 4rem;
}

.project-header {
    display: inline-block;
    font-weight: bold;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    gap: 3rem;
    align-items: stretch;
    text-align: center;
}

.header-container {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.nft-container,
.splash-container,
.chrome-container {
    width: 300px;
    min-height: 300px;
    padding: 1em;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.btn-link {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.btn-link:hover {
    cursor: pointer;
    background-color: #0056b3;
}

footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
    background-color: black;
    color: white;
}

@media (max-width: 768px) {

    h2 { 
        margin: .5em 0 0 0;
    }

    .nav-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
    }

    .project-container {
        flex-direction: column;
    }

    .project-img {
        width: 100%
    }

    .intro-container img {
        max-width:100%;
        height: auto;
    }
}
