body {
    
}

.riley {
    width: 50px;
    border-radius: 50%;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.project-header {

display: inline-block;
}

.header-container{
width: 100%;
text-align: center;
margin: 20px 0
}

.nft-container,
.splash-container,
.chrome-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
}